body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-image {
    background-image: url("IMG/embreve.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
}

